body {
  margin: 0px auto;
}
#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b0b0b0;
}
.left img {
  float: left;
  height: 50px;
}
.left h1 {
  display: inline;
  color: #555555;
  padding-left: 4px;
}
.left {
  float: left;
  display: flex;
  align-items: center;
}
.right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
}
#sidebar {
  height: 100vh;
  width: 10%;
  border-right: 2px solid #b0b0b0;
  padding-top: 20px;
  float: left;
  padding-left: 10px;
}
#main-box {
  width: calc(100vw - 25%);
  float: left;
}
.h3 {
  float: left;
  padding-left: 30px;
}
.tableboxes {
  height: 100%;
  float: left;
  width: 75%;
  padding-left: 30px;
}
.boxes {
  float: right;
}
.section-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.section-1 .right {
  width: auto;
  float: right;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.section-2 .left {
  width: auto;
  float: left;
}

.section-2 .right {
  width: auto;
  float: right;
}
.section-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.section-3-left {
  width: auto;
  float: left;
}
.section-3-right {
  width: 27.4vw;
}
.skills-option-4 {
  margin-top: 10px;
}
.skills-option {
  float: left;
  width: auto;
  display: flex;
}
.section-5 {
  width: 100%;
  padding-top: 20px;
  height: auto;
  float: left;
  margin-bottom: 10px;
}
.section-6 {
  float: right;
  text-align: end;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 27.4vw;
  height: 40px;
}
input[type="tel"] {
  width: 27.4vw;
  height: 40px;
}
input[type="email"] {
  width: 27.4vw;
  height: 40px;
}
select {
  width: 27.4vw;
  height: 40px;
}
.hostel-check {
  margin-top: 10px;
}
.hostelbox div {
  float: left;
  display: flex;
  padding-right: 30px;
  margin-top: 10px;
}
.skills-option div {
  float: left;
  display: flex;
  margin-top: 10px;
  padding-left: 30px;
}
input[type="reset"],
input[type="submit"] {
  height: 35px;
  width: 130px;
  border-radius: 20px;
  border: 0px;
  font-weight: 300;
  text-decoration: none;
}
input[type="reset"] {
  background-color: rgb(255, 114, 97);
  margin-right: 20px;
  color: #fff;
}
input[type="submit"] {
  background-color: rgb(59, 185, 137);
  color: #fff;
}
.address {
  margin-top: 10px;
}
.form {
  width: 50%;
}
@media only screen and (max-width: 650px) {
  #sidebar {
    display: none;
  }
  #form {
    width: 100vw;
  }
  #navbar {
    width: 100vw;
  }
  #boxcheck {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #boxcheck div {
    padding: 3px;
  }
  .section-1,
  .section-2,
  .section-3,
  .section-6 {
    flex-direction: column;
    float: left;
    margin: 0;
  }
  .skills-option {
    flex-direction: column;
  }
  .section-3-right {
    width: 45vw;
  }
  .section-3 {
    margin-bottom: 15px;
  }
  input[type="text"] {
    width: 80vw;
    height: 40px;
  }
  input[type="tel"] {
    width: 80vw;
    height: 40px;
  }
  input[type="email"] {
    width: 80vw;
    height: 40px;
  }
  select {
    width: 80vw;
    height: 40px;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 651px) {
  #sidebar {
    display: none;
  }
  #navbar {
    width: 100%;
  }
  .tableboxes {
    width: calc(100% - 40px);
  }
  #headbar {
    width: auto;
  }
}
