body {
  margin: 0 auto;
}
#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b0b0b0;
}
.left img {
  float: left;
  height: 50px;
  padding-left: 10px;
}
.left h1 {
  display: inline;
  color: #555555;
  padding-left: 10px;
}
.left {
  float: left;
  display: flex;
  align-items: center;
}
.right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  padding-right: 10px;
}
#maincointainer {
  width: 100%;
}
.sidebar {
  height: 100vh;
  width: 140px;
  border-right: 2px solid #b0b0b0;
  padding-top: 20px;
  float: left;
  padding-left: 10px;
}
#sidebar p {
  margin-top: 0px;
}
#headbar {
  height: 90px;
  width: 100%;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}
.h2 {
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
button {
  display: flex;
  float: right;
  align-items: center;
  background-color: #3db889;
  border: none;
  padding: 15px;
}
.h3 {
  padding-right: 40px;
  float: right;
}
#main-box {
  padding: 15px;
  width: calc(100vw - 200px);
  float: left;
}
table {
  width: 100%;
}
table,
td,
th,
tr {
  border: 2px solid #e4e4e4;
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}
@media only screen and (max-width: 650px) {
  .sidebar {
    display: none;
  }
  #main-box {
    width: calc(100vw - 30px);
  }
}

@media only screen and (min-width: 651px) and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  #main-box {
    width: calc(100vw - 30px);
  }
}
