body {
  background-color: black;
  margin: 0;
}
#navbar {
  background-color: #543561;
  display: flex;
  height: 100px;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100vw;
}
#main-container {
  background-color: #d1d8e8;
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}
.boxes {
  background-color: #d1d8e8;
  height: 250px;
  width: calc((100vw / 3) - 27px);
  float: left;
  padding: 10px;
  margin-bottom: 10px;
}
#main-container h1 {
  text-decoration: underline;
}
#main-boxes {
  height: 600px;
  width: 100vw;
}
.first {
  margin-right: 10px;
}
.second {
  margin-right: 10px;
}
.left {
  float: left;
  display: flex;
  align-items: center;
}
.right {
  align-self: center;
  display: flex;
}
.left img {
  display: flex;
  height: 70px;
}
.left h2 {
  display: inline;
  color: white;
  padding-left: 10px;
}
.right a {
  padding-right: 10px;
  color: white;
}

@media only screen and (max-width: 650px) {
  .right {
    display: none;
  }
  #navbar {
    width: 100vw;
  }
  #main-container {
    width: 100%;
    overflow: hidden;
  }
  .boxes {
    width: 100vw;
    height: auto;
    align-self: center;
    float: left;
  }
}
@media only screen and (max-width: 900px) and (min-width: 651px) {
  .first {
    width: 100%;
  }
  .right {
    display: none;
  }
  .second,
  .third {
    width: calc((100% / 2) - 30px);
  }
}
