body {
  background-color: burlywood;
}
#navbar {
  background-color: purple;
  height: 100px;
  border: 20px red;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: gray;
  height: 200px;
  width: 35%;
  margin-left: 85px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  border: 10px solid blue;
  padding: 10px;
  float: left;
  align-self: center;
  display: block;
}
#main-cointainer {
  background-color: brown;
  height: 300px;
  border: 1px solid blue;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.first {
  margin-left: 50px;
}
.first {
  margin-right: 132px;
}
#navbar img {
  height: 90px;
}
#navbar h2 {
  display: inline;
  float: right;
}
div {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.right a {
  color: white;
  padding: 0 15px;
}
.third {
  background-color: blueviolet;
  display: white;
  height: 200px;
  width: 95%;
  margin-left: 10px;
  border: solid 15px red;
}
