body {
  background-color: #311b18;
}
#navbar {
  background-color: #533261;
  height: 80px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: #8ade84;
  height: 180px;
  width: 350px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 05px;
  float: left;
  overflow: hidden;
}
#main-cointainer {
  background-color: #d2d9e9;
  height: 470px;
  width: 98%;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.first {
  margin-right: 650px;
}
#navbar img {
  height: 70px;
}
#navbar h2 {
  display: inline;
  float: right;
}
div {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.right a {
  color: white;
  padding: 0 15px;
}
.third {
  background-color: #dadada;
  display: white;
  height: 200px;
  width: 96%;
  margin-left: 10px;
  border: #509243;
  border: solid 15px #b94143;
}
@media only screen and (max-width: 650px) {
  .right {
    display: none;
  }
  #navbar {
    width: 110%;
  }
  .boxes {
    width: 80%;
  }
  #main-cointainer {
    width: 110%;
  }
  .third {
    width: 110%;
  }
}
