body {
  background-color: #311b18;
  margin: 0;
}
#navbar {
  background-color: #533261;
  height: 80px;
  width: 100vw;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: #8ade84;
  height: 180px;
  width: 350px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 05px;
  float: left;
  overflow: hidden;
}
#main-cointainer {
  background-color: #d2d9e9;
  height: 300px;
  width: 100%;
  padding: 40px;
  margin-right: 50px;
  margin-left: 40px;
  margin-bottom: 15px;
  display: flex;
  align-self: center;
  overflow: hidden;
  justify-content: space-between;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navbar img {
  height: 70px;
}
#navbar h2 {
  display: inline;
  float: right;
}
.left {
  float: left;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.right a {
  color: white;
  padding: 0 15px;
}
.third {
  background-color: #dadada;
  display: white;
  height: 290px;
  width: 100%;
  border: solid 15px #b94143;
}
@media only screen and (max-width: 650px) {
  .right {
    display: none;
  }
  #navbar {
    width: auto;
  }
  .boxes {
    width: 100%;
    margin-left: 10px;
  }
  #main-cointainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .third {
    width: 100vw;
  }
}
