body {
  background-color: #ececec;
  margin: 0 auto;
  height: 100vh;
}
#NavBar {
  background-color: #625c5c;
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid#FFFFFF;
}
.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 40px;
  width: 30px;
  margin: 5px;
}
.right img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}
h2 {
  font-display: white;
  display: inline;
  float: left;
}
#cointainer {
  width: auto;
  float: left;
}
#sidebar {
  background-color: #625c5c;
  height: 100%;
  width: 115px;
  float: left;
  padding: 15px;
}
.main h1 {
  color: black;
  text-decoration: underline;
  padding: 15px;
  height: calc(100vh-80px);
  float: left;
}
.green-bg {
  background-color: #0ace82;
  text-align: center;
}
.purple-bg {
  background-color: #a259ff;
  text-align: center;
}

.red-bg {
  background-color: #ea7757;
  text-align: center;
}
.cyan-bg {
  background-color: #57c6f1;
  text-align: center;
}
.title {
  height: 120px;
  width: calc((100%) / 4);
  margin-left: 20px;
  text-align: center;
  font-display: white;
}
#right-cointainer {
  height: 100%;
  width: 90%;
}

/**#left-cointainer {
  width: 100%;
  float: left;
}**/
#boxes {
  width: 80%;
  float: left;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
#boxes > div:last-child {
  margin-right: 20px;
}
#sidebar > p {
  padding: 5px;
}
.head {
  margin-left: 165px;
  margin-bottom: 3px;
  width: auto;
}
#graph {
  width: 80%;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 40px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-between;
}
.circle-1 {
  background-color: #a359ff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.innercircle1 {
  background-color: #0ace82;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.circle-2 {
  background-color: #5dc1eb;
  margin-left: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.innercircle2 {
  background-color: #ececec;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
}
.circle-3 {
  background-color: #f64d1d;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.innercircle3 {
  background-color: #ff715a;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.innercircle4 {
  background-color: #a259ff;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.chart {
  margin-left: 60px;
  float: left;
  height: 250px;
  width: 250px;
}
.Bar1 {
  height: 180px;
  width: 10px;
  background-color: #0bce81;
  position: absolute;
  bottom: 0;
}
.Bar2 {
  height: 120px;
  width: 10px;
  background-color: #f24f1e;
  bottom: 0;
  position: absolute;
  margin-left: 30px;
}
.Bar3 {
  height: 95px;
  width: 10px;
  background-color: #a259fe;
  bottom: 0;
  position: absolute;
  margin-left: 60px;
}
.Bar4 {
  height: 45px;
  width: 10px;
  background-color: #19bcfd;
  bottom: 0;
  position: absolute;
  margin-left: 90px;
}
.Bar5 {
  height: 70px;
  width: 10px;
  background-color: #6c6969;
  bottom: 0;
  position: absolute;
  margin-left: 120px;
}
.Bar6 {
  height: 75px;
  width: 10px;
  background-color: #ff7061;
  bottom: 0;
  position: absolute;
  margin-left: 150px;
}
.bartop {
  display: flex;
  position: relative;
  width: 250px;
  height: 200px;
}
.barbottom {
  margin-bottom: 20px;
  width: 220px;
  height: 10px;
  background-color: #605c5b;
}
